<app-header></app-header>
<form [formGroup]="updateForm">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <img class="addRecipe" src="../../../../../assets/addRecipe.jpg">
            </div>
            <div class="col-md-10 text-end formRecipe">
                <div>
                    <h1 class="newRecipe display-6">הוספת מתכון חדש</h1>
                </div>
                <mat-form-field class="mat input">
                    <mat-label value="warn">שם המתכון</mat-label>
                    <input matInput formControlName="recipeName">
                </mat-form-field>
                <mat-form-field class="mat input">
                    <mat-label>בחירת קטגוריה</mat-label>
                    <mat-select formControlName="recipeCategory">
                        <mat-option *ngFor="let category of categories"
                            [value]="category.name">{{category.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="mat input">
                    <mat-label>דרגת קושי </mat-label>
                    <mat-select formControlName="recipeDifficulty">
                        <mat-option value=1>קל מאוד </mat-option>
                        <mat-option value=2>קל</mat-option>
                        <mat-option value=3>בינוני</mat-option>
                        <mat-option value=4>קשה</mat-option>
                        <mat-option value=5>קשה מאוד</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="mat input">
                    <mat-label>זמן הכנה (בדקות)</mat-label>
                    <input type="number" matInput formControlName="recipeTime">
                </mat-form-field>
                <mat-form-field class="mat input">
                    <mat-label>קישור לתמונה</mat-label>
                    <input type="url" matInput formControlName="recipeImageUrl">
                </mat-form-field>
                <div>
                    <div formArrayName="ingredients">
                        <div *ngFor="let ingredientControl of getIngredients.controls; let i = index">
                            <h3 *ngIf="i===0" class="secondtytle">המוצרים</h3>
                            <p class="label-txt">מוצר {{ i + 1 }}</p>
                            <mat-form-field class="mat input">
                                <input matInput [formControlName]="i">
                            </mat-form-field>
                            <button mat-icon-button color="accent" (click)="removeIngredient(i)">
                                <mat-icon><span class="material-symbols-outlined">
                                        do_not_disturb_on
                                    </span></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <div formArrayName="preparation">
                        <div *ngFor="let preControl of getPreparation.controls; let i = index">
                            <h3 *ngIf="i===0" class="secondtytle">הוראות הכנה</h3>
                            <p class="label-txt">הוראה {{ i + 1 }}</p>
                            <mat-form-field class="mat input">
                                <input matInput [formControlName]="i">
                            </mat-form-field>
                            <button mat-icon-button color="accent" (click)="removePreparation(i)">
                                <mat-icon><span class="material-symbols-outlined">
                                        do_not_disturb_on
                                    </span></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="example-button-row ">
                    <button color="accent" mat-raised-button (click)="addIngredient()">
                        <i class="pi pi-plus"></i> הוסף רכיב
                    </button>
                    <button color="accent" mat-raised-button (click)="addPreparation()">
                        <i class="pi pi-plus"></i>
                        הוסף הוראות
                    </button>
                    <button color="accent" mat-raised-button (click)="checkValidation()">
                        <i class="pi pi-check"></i>עדכון</button>
                </div>
                <p-toast></p-toast>
                <p-toast position="top-center" key="tc"></p-toast>
            </div>
        </div>
    </div>
</form>