.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.stars{
  width: fit-content;
  margin-left: 65%;
}
.name{
    direction: rtl;
}

.timeContain {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-top: 0%;
}
.lable{
    margin-top:5%;
}
.time {
    margin-right: 5px; /* Adjust margin as needed */
    align-self: center; /* Vertically center the time element */
}
