<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/headers/">
   
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

<!-- <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">  -->

<header class="p-3 text-bg-dark">
    <div class="container">
      <!-- <img src="../../assets/לוגו.png"> -->
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a ><app-log-out-button></app-log-out-button></a></li>
          <li><a href="/recipes/add-recipes" class="nav-link px-2 text-white">Add recipes</a></li>
          <li><a href="/recipes/all-recipes" class="nav-link px-2 text-white">All recipes</a></li>

        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button  (click)="redirectToPageLogin()" type="button" class="btn btn-outline-light me-2">Login</button>
          <button (click)="redirectToPageRegister()" type="button" class="btn btn-warning register">Register</button>
          
        </div>
      </div>
    </div>
  </header>
