@import url('https://fonts.googleapis.com/css?family=Numans');

.background-container {
    background-image: url('../../../assets/loginimg.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Make sure it's behind other content */
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height:fit-content;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
   
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    margin-top: 15%;
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}
.error{
    color: #FFC312;
}
.alert {
    background-color: #f44336; /* Red background */
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
  }